@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

$green: #319D50;
$middle-green: #138434;
$dark-green: #106027;
$red: #E11818;
$white: #fff;
$grey1: #F8F8F8;
$grey2: #E3E3E3;
$dark-grey: #898A8E;
$light-black: #474646;
$black: #2C2C2C;
