/*****--------------------breadcrumbs-----------------*****/
.breadcrumbs {
  font-family: Geometria;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  &__link {
    transition: all .3s;

    &:hover {
      color: $green;
    }

    &:active {
      color: $dark-green;
    }
  }

  &__line {
    display: inline-block;
    margin: 0 10px;
  }

  &__span {
    color: $dark-grey;
  }

}

/*****--------------------breadcrumbs-----------------*****/
/*****--------------------page-title-----------------*****/
.page-title {
  text-transform: uppercase;
  font-family: Geometria;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  padding: 25px 0;
}

/*****--------------------page-title-----------------*****/

/*****--------------------sort-----------------*****/
.sort-section {
  text-transform: uppercase;
  font-family: Geometria;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;

  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.sort {
  display: flex;
  position: relative;
  padding-right: 20px;

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    top: 0;
    right: 0;

    background: url(../img/icons/small-triangle2.svg) no-repeat center center;

  }

  &__title {
    margin-right: 10px;
  }

  &__list {
    text-align: right;
  }

  &__item {
    cursor: pointer;
    display: none;

    &.active {
      display: block;
    }
  }
}

/*****--------------------sort-----------------*****/

/*****--------------------products-----------------*****/
.products {
  margin-right: -10px;
  margin-bottom: 150px;

  &__inner {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-right: -10%;
  }
}

.card {
  flex-grow: 1;
  position: relative;
  width: 24%;
  margin-right: 10px;
  margin-bottom: 40px;

  &__slider {
    max-height: 500px;
    width: 100%;
    height: 30vw;
    overflow: hidden;

    &-item {
      max-height: 500px;
      width: 100%;
      height: 30vw;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px 10px;
  }

  &__content-info {
    width: 70%;
  }

  &__content-title {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;

    font-size: 16px;
    line-height: 26px;
    // font-size: 1em;
    // line-height: 1.7em;
  }

  &__content-subtitle {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

    font-size: 16px;
    line-height: 26px;
    // font-size: 1em;
    // line-height: 1.7em;

    margin-top: 10px;
  }

  &__content-price {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: $green;

    &--red {
      color: $red;
    }

    &--underline {
      font-weight: 400;
      text-decoration: line-through;
      color: $black;
    }
  }

  &__info-size {
    width: 100%;
    display: none;
    transition: all .3s;

    &.active {
      display: block;
    }
  }

  &__size {
    margin-top: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 2px solid $grey2;
    transition: all .3s;
 
    &--none {
      background: $grey1;
      position: relative;
      overflow: hidden;
      pointer-events: none;

      &::after {
        content: '';
        width: 56.5px;
        height: 2px;
        background: $grey2;
        position: absolute;
        bottom: 18px;
        left: -10px;
        transform: rotate(135deg);
      }
    }
  }

  &__heart {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: url(../img/icons/heart-black.svg) no-repeat center center;

    &.active {
      background: url(../img/icons/heart-green.svg) no-repeat center center;

    }
  }

  &__corner {
    height: 30px;
    width: 60px;
    background: $red;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0 10px;

    position: absolute;
    top: 60px;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(270deg);

    &--sale {}

    &--new {
      background: $green;
    }
  }
}

/*****--------------------slider-----------------*****/
.card {
  &__slider {
    line-height: 0;
    position: relative;
  }

  &__slider-item {
    display: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      display: block;
    }
  }

  .slick-arrow {
    cursor: pointer;
    height: 10px;
    width: 40px;

    position: absolute;
    z-index: 10;
    top: calc(50% - 20px);
    font-size: 0;
    border: 0;
    background: url(../img/icons/Arrow.svg) no-repeat center center;

    &.slick-prev {
      left: 10px;
      transform: rotate(180deg);
    }

    &.slick-next {
      right: 10px;
    }
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    position: absolute;
    bottom: 10px;
    padding: 0 10px;

    li {
      width: 100%;
      margin-right: 10px;
    }

    button {
      border: 0;
      width: 100%;
      height: 2px;
      flex-grow: 1;
      font-size: 0;
      background: $white;

      margin-right: 10px;
    }

    .slick-active button {
      background: $black;
    }
  }

}

/*****--------------------products-----------------*****/
/*****--------------------view-products-----------------*****/
.viewed-products {
  margin-bottom: 150px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
  }
}

/*****--------------------view-products-----------------*****/

.mini-filters {
  display: none;
}

/*****--------------------pagination-----------------*****/

.button--white {
  border: 1px solid $grey2;
  background: transparent;
  color: $black;
  font-weight: bold;
  transition: all .3s;

  &:hover {
    border: 1px solid $green;
    color: $green;
  }

  &:active {
    border: 1px solid $dark-green;
    color: $dark-green;
  }
}

.pagination {
  margin-right: 10px;

  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__page {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $grey2;
    margin: 0 5px;
    transition: all .3s;

    &.active {
      border: 1px solid transparent;
      color: $green;
      pointer-events: none;
    }

    &:hover {
      border: 1px solid $green;
    }

    &:active {
      border: 1px solid $green;
      color: $green;
    }
  }
}

/*****--------------------pagination-----------------*****/



/*****--------------------card-widht-----------------*****/

@media only screen and (max-width: 1024px) {
  .card {
    width: 40%;

    &__slider {
      width: 100%;
      height: 60vw;

      &-item {
        width: 100%;
        height: 60vw;
      }
    }

    &__info-size {}
  }

  .total {
    display: none;
  }

}

@media only screen and (max-width: 768px) {
  .card {
    width: 45%;

    &__slider {
      width: 100%;
      height: 60vw;

      &-item {
        width: 100%;
        height: 60vw;
      }
    }

    &__content-info {
      width: 100%;
    }

    &__content-price {
      order: 3;
      width: 100%;
      text-align-last: left;
      flex-direction: row;

      margin-top: 20px;

      .card__price {
        margin-right: 10px;
      }
    }
  }

  .filters {
    display: none;
  }

  .sort-section {
    display: none;
  }

  /*****--------------------mini-filters-----------------*****/
  /*****--------------------mini-filters-----------------*****/
  .mini-filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    &__button {
      width: 45%;
      flex-grow: 1;
      margin-right: 10px;
    }
  }

  .sort {
    height: 50px;
    width: 45%;
    flex-grow: 1;
    padding: 0;

    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

    &::after {
      height: 50px;
      margin: 0;
      position: absolute;
      right: 20px;
      z-index: 30;
    }

    &__list {
      width: 100%;
      height: 200px;
      position: relative;
      z-index: 10;
      overflow-x: scroll;

    }

    &__item {
      border: 1px solid $grey2;
      background: $white;
      width: 100%;
      height: 50px;
      padding-top: 15px;
      text-align: center;
      display: none;

      .active {}
    }
  }

  /*****--------------------mini-filters-----------------*****/
  /*****--------------------mini-filters-----------------*****/

}

@media only screen and (max-width: 800px) {

  .card {
    &__content {
      padding: 10px 0;

    }

    &__content-price {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 480px) {

  .page-title {
    font-size: 30px;
    line-height: 38px;

  }

  .card {
    width: 45%;
    margin-bottom: 20px;

    &__slider {
      width: 100%;
      height: 60vw;

      &-item {
        width: 100%;
        height: 60vw;
      }
    }

    &__content-title {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .mini-filters {
    flex-wrap: wrap;

    &__button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .sort {
      width: 100%;
    }
  }

  .products {
    margin-bottom: 60px;
  }



  .viewed-products {
    &__inner {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;

      .card {
        width: 43%;
        flex-shrink: 0;
      }
    }

  }
}

@media only screen and (max-width: 360px) {
  .card__price {
    font-size: 12px;
    margin-right: 5px;
  }

  .card__content-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

/*****--------------------card-width-----------------*****/