.hidden-menu {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  z-index: 100;

  background: $white;
  display: flex;
  display: none;
}

.left-menu {
  background: $grey1;
  width: 300px;
  padding: 70px 20px 20px;

  display: flex;
  flex-direction: column;
  position: relative;

  &__close {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(../img/icons/close.svg) no-repeat center center;

    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__button {
    align-self: flex-end;
    margin-top: auto;
  }

  &__logo {
    margin-bottom: 40px;
  }
}

.logo {}

.bold-menu {
  &__wrapper {}

  &__gender {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    justify-content: space-between;

    & .active {
      font-weight: 700;
    }
  }

  &__link {
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 20px;
    display: block;

    transition: all .3s;

    &-arrow {
      display: none;
    }

    &--red {
      color: $red;
    }

    &:hover {
      color: $green;
    }

    &:active {
      color: $dark-green;
    }
  }
}

.active {}

.women {}

.light-menu {
  &__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    display: block;
    margin-top: 20px;
    transition: all .3s;

    &:hover {
      color: $green;
    }

    &:active {
      color: $dark-green;
    }
  }
}

.right-content {
  padding: 40px;
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
}

/*****--------------------search-form-----------------*****/
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 16px 20px;
  border: 1px solid $grey2;

  position: relative;

  &--hidden {
    display: none;
  }

  &__input {
    width: calc(100% - 20px);
    border: none;
    background: transparent;
  }

  &__submit {
    cursor: pointer;
    height: 100%;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: url(../img/icons/loupe.svg) no-repeat center center;
  }
}

/*****--------------------search-form-----------------*****/
/*****--------------------banner-----------------*****/
.banner {
  height: 200px;
  width: 100%;
  margin-top: 40px;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    height: 60px;
    width: 214px;
    position: absolute;
    right: 10px;
    top: calc(50% - 30px);

    display: flex;
    justify-content: flex-end;

    background: transparent;
    color: transparent;

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      right: 30px;
      width: 40px;
      height: 10px;
      background: url(../img/icons/white-arrow.svg) no-repeat center center;
    }

    &:hover {
      color: $white;
      border: 1px solid $white;
      right: 40px;
      justify-content: center;

      &::after {
        right: 0;
      }
    }

    &.active {
      background: $green;
      border: 1px solid $green;
    }

  }
}

.button {}

/*****--------------------banner-----------------*****/
/*****--------------------menus-clothers-----------------*****/
.menu-clother-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  &--hidden {
    display: none;
  }
}

.menu-clother {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  &__title {
    text-transform: uppercase;
    font-weight: 700;

    & br {
      display: none;
    }
  }

  &__items {}

  &__link {
    margin-top: 20px;
    display: block;
    transition: all .3s;

    &:hover {
      color: $green;
    }

    &:active {
      color: $dark-green;
    }
  }
}

.menus-clother {}

/*****--------------------menus-clothers-----------------*****/
/*****--------------------BRAND-SLIDER-----------------*****/
.brand-slider {
  width: 100%;
  margin-top: auto;
  align-self: flex-end;
  margin-right: -10px;
  position: relative;

  &__item {
    width: 250px;
    height: 100px;
    padding-right: 10px;

    & img {
      background: $grey1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & button.slick-arrow {
    cursor: pointer;
    width: 40px;
    height: 30px;
    border: none;
    background: url(../img/icons/Arrow.svg) no-repeat center center;
    font-size: 0;

    position: absolute;
    z-index: 10;
    top: calc(50% - 15px);
    left: -30px;
    transform: rotate(180deg);

    &.slick-prev {
      transform: rotate(360deg);
      left: auto;
      right: -20px;
    }
  }

  & .slick-dots {
    display: none !important;
  }

}

/*****--------------------BRAND-SLIDER-----------------*****/

/*****--------------------hidden-menu-----------------*****/


@media only screen and (max-width: 1200px) {
  .hidden-menu {}

  .left-menu {
    padding-top: 50px;

    &__close {}

    &__logo {
      margin-bottom: 20px;
    }

    &__button {}
  }

  .bold-menu {
    &__wrapper {}

    &__gender {}

    &__link {
      margin-top: 10px;

      &--red {}
    }
  }

  .light-menu {
    &__link {
      margin-top: 10px;
    }
  }

  .right-content {
    padding: 20px;
  }

  .search-form {
    &__input {}

    &__submit {}
  }

  .banner {
    height: 75px;
    margin-top: 20px;

    &__button {}
  }

  .menu-clother-list {
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -20px;
  }

  .menu-clother {
    margin-top: 20px;
    margin-right: 20px;
    align-self: flex-start;

    &__title {

      //     font-size: 14px;
      // line-height: 22px;
      & br {
        // display: block;
      }
    }

    &__items {
      //     font-size: 12px;
      // line-height: 20px;
    }

    &__link {
      margin-top: 0px;
    }
  }

  .brand-slider {
    height: 70px;

    &__item {
      height: 70px;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .hidden-menu {
    button.slick-arrow {
      left: -15px !important;

      &.slick-prev {
        left: auto !important;
        right: -5px !important;
      }
    }
  }

}

@media only screen and (max-width: 1000px) {
  .hidden-menu {}

  .left-menu {
    &__close {}

    &__logo {}

    &__button {}
  }

  .logo {}

  .bold-menu {
    &__wrapper {}

    &__gender {}

    &__link {
      &--red {}
    }
  }

  .light-menu {
    &__link {}
  }

  .right-content {}

  .search-form {
    &__input {}

    &__submit {}
  }

  .banner {
    &__button {}
  }

  .menu-clother-list {
    margin-right: -5%;
  }

  .menu-clother {
    width: 45%;
    margin-right: 5%;

    &__title {
      & br {
        display: block;
      }
    }

    &__items {}

    &__link {}
  }

  .brand-slider {
    &__item {}
  }
}

@media only screen and (max-width: 750px) {
  .hidden-menu {
    height: 100%;
    background: transparent;

    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .left-menu {
    width: 100%;
    margin-top: 80px;
    height: calc(100% + 80px);
    padding-top: 20px;
    background: $white;

    &__close {
      position: absolute;
      background-color: $black;
      background-image: url(../img/icons/close.svg);
      background-repeat: no-repeat;
      background-position: center center;

      height: 80px;
      width: 40px;
      top: -80px;
      left: 15px;
    }

    &__logo {
      display: none;
    }

    &__button {}
  }

  .logo {}

  .bold-menu {
    &__wrapper {}

    &__gender {
      background: $grey1;
      padding: 15px 20px;
      position: relative;
      left: -20px;
      width: calc(100% + 40px);
    }

    &__link {
      margin: 0;
      padding: 10px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &-arrow {
        display: block;
        height: 15px;
        width: 8px;

        background: url(../img/icons/little-arrow.svg) no-repeat center center;
      }

      & span {
        display: inline-block;
      }

      &--red {}
    }
  }

  .light-menu {
    margin-top: 20px;

    &__link {}
  }

  .right-content {
    display: none;
  }

  .search-form {
    &--hidden {
      display: block;
      margin-bottom: 20px;
    }

    &__input {}

    &__submit {}
  }

  /*****--------------------menu-catalog-----------------*****/

  .menu-clother-list {
    &--hidden {
      display: none;
      position: absolute;
      background: $white;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 120;

      transition: all .3s;
      transform: translate(120%);
    }

    &.active {
      transform: translate(0);
    }

    &__title {
      background: $grey1;
      width: 100%;
      display: block;
      cursor: pointer;
      padding: 15px 20px;
      margin-top: 20px;

      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;

      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        transform: rotate(180deg);

        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url(../img/icons/little-arrow.svg) no-repeat center center;
      }
    }
  }

  .menu-clother {
    margin: 0;
    width: 100%;
    transition: all .3s;

    &.active {
      position: absolute;
      background: $white;
      z-index: 200;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 20px;
    }

    &__title {
      cursor: pointer;
      padding: 15px 20px;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.active {
        background: $grey1;
        flex-direction: row-reverse;
        justify-content: flex-end;

        &::after {
          transform: rotate(180deg);
          margin-right: 20px;
        }
      }

      & br {
        display: none;
      }

      &::after {
        content: '';
        position: relative;
        top: 0;
        right: 0;
        width: 8px;
        height: 12px;
        background: url(../img/icons/little-arrow.svg) no-repeat center center;
      }

    }

    &__items {
      display: none;

      &.active {
        display: block;
      }
    }

    &__link {
      padding: 10px 20px;
      font-weight: 700;
    }
  }

  .brand-slider {
    &__item {}
  }

  /*****--------------------menu-catalog-----------------*****/
}


/*****--------------------hidden-menu-----------------*****/