<!--                         double-slider                         -->
<div class="double-slider">
  <div class="navigator">
    <div>
      <img src="img/products/mini-tufli1.jpg" alt="">
    </div>
    <div>
      <img src="img/products/mini-tufli2.jpg" alt="">
    </div>
    <div>
      <img src="img/products/mini-tufli3.jpg" alt="">
    </div>
    <div>
      <img src="img/products/mini-tufli4.jpg" alt="">
    </div>
    <div>
      <img src="img/products/mini-tufli5.jpg" alt="">
    </div>
  </div>
  <div class="primary nav">
    <div>
      <img src="img/products/tufli1.jpg" alt="">
      <a data-fancybox="images" href="img/products/tufli1.jpg" class="zoom"></a>
    </div>
    <div>
      <img src="img/products/tufli2.jpg" alt="">
      <a data-fancybox="images" href="img/products/tufli2.jpg" class="zoom"></a>
    </div>
    <div>
      <img src="img/products/tufli3.jpg" alt="">
      <a data-fancybox="images" href="img/products/tufli3.jpg" class="zoom"></a>
    </div>
    <div>
      <img src="img/products/tufli4.jpg" alt="">
      <a data-fancybox="images" href="img/products/tufli4.jpg" class="zoom"></a>
    </div>
    <div>
      <img src="img/products/tufli5.jpg" alt="">
      <a data-fancybox="images" href="img/products/tufli5.jpg" class="zoom"></a>
    </div>
  </div>
</div>
<!--                         double-slider                         -->