<div class="filters-mobile">
  <div class="filters-mobile__top">
    <span class="filters-mobile__exit">Фильтры</span>
  </div>
  <ul class="filters-mobile__list">
    <li class="filters-mobile__list-item">
      <h2 class="filters-mobile__title"><span>Тип товара</span>
        <div class="plus-black"></div>
        <div class="minus-black"></div>
      </h2>
      <div class="filters-mobile__info"></div>
    </li>
    <li class="filters-mobile__list-item">
      <h2 class="filters-mobile__title"><span>Размер</span>
        <div class="plus-black"></div>
        <div class="minus-black"></div>
      </h2>
      <div class="filters-mobile__info">
        <div class="filters-mobile__p10"></div>
        <ul class="product-select__list">
          <li class="product-select__item">35</li>
          <li class="product-select__item product-select__item--none">36</li>
          <li class="product-select__item product-select__item--none">37</li>
          <li class="product-select__item active">38</li>
          <li class="product-select__item">39</li>
          <li class="product-select__item">40</li>
          <li class="product-select__item">41</li>
          <li class="product-select__item">42</li>
          <li class="product-select__item">43</li>
        </ul>
      </div>
    </li>
    <li class="filters-mobile__list-item">
      <h2 class="filters-mobile__title"><span>Цвет</span>
        <div class="plus-black"></div>
        <div class="minus-black"></div>
      </h2>
      <div class="filters-mobile__info">
        <ul class="product-select__color">
          <li class="product-select__color-item"><span>#325B43</span>
            <div class="product-select__color-info">Темно-зеленый</div>
          </li>
          <li class="product-select__color-item"><span>#A61515</span>
            <div class="product-select__color-info">Темно-красный</div>
          </li>
          <li class="product-select__color-item"><span>#000000</span>
            <div class="product-select__color-info">черный</div>
          </li>
        </ul>
      </div>
    </li>
    <li class="filters-mobile__list-item">
      <h2 class="filters-mobile__title"><span>Бренд</span>
        <div class="plus-black"></div>
        <div class="minus-black"></div>
      </h2>
      <div class="filters-mobile__info">
        <ul class="filter__list">
          <li class="filter__item">
            <!--                         checkbox                         -->
            <label class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <span class="checkbox-fake"></span>
              <span>Alpina</span>
            </label>
            <!--                         checkbox                         -->
          </li>
          <li class="filter__item">
            <!--                         checkbox                         -->
            <label class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <span class="checkbox-fake"></span>
              <span>Al.Dell'acqua</span>
            </label>
            <!--                         checkbox                         -->
          </li>
          <li class="filter__item">
            <!--                         checkbox                         -->
            <label class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <span class="checkbox-fake"></span>
              <span>Anacapri</span>
            </label>
            <!--                         checkbox                         -->
          </li>
          <li class="filter__item">
            <!--                         checkbox                         -->
            <label class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <span class="checkbox-fake"></span>
              <span>Alpina</span>
            </label>
            <!--                         checkbox                         -->
          </li>
          <li class="filter__item">
            <!--                         checkbox                         -->
            <label class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <span class="checkbox-fake"></span>
              <span>Al.Dell'acqua</span>
            </label>
            <!--                         checkbox                         -->
          </li>
          <li class="filter__item">
            <!--                         checkbox                         -->
            <label class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <span class="checkbox-fake"></span>
              <span>Anacapri</span>
            </label>
            <!--                         checkbox                         -->
          </li>
        </ul>
      </div>
    </li>
    <li class="filters-mobile__group">
      <button class="filters-mobile__button button button--white">Сбросить</button>
      <button class="filters-mobile__button button button--green">Применить</button>
    </li>
  </ul>
</div>