<div class="filters">
  <div class="filters__wrapper">
    <div class="filter">
      <div class="filter__title" id="type">Тип товара <span class="filter__title-selected"></span></div>
      <ul class="filter__list">
        <li class="filter__item">
          <!--                         checkbox                         -->
          <div class="filter__item-title">Обувь</div>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Ботильоны</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Ботинки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Кроссовки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Сапоги</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Туфли</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Вся обувь</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <div class="filter__item-title">Сумки</div>
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Багаж</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Клатчи</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Кошельки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Поясные сумки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Рюкзаки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Спортивные сумки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Сумки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Сумки для ноутбука</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <div class="filter__item-title">Одежда</div>
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Брюки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Верхняя одежда</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Джемперы и свитеры</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Джинсы</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Кардиганы и кофты</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Платья</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Трикотаж</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Юбки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Вся одежда</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <div class="filter__item-title">Аксессуары</div>
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Головные уборы</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Другие аксессуары</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Защитные маски</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Очки и оправы</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Ремни и подтяжки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Сумки и рюкзаки</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Украшения</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Часы</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Все аксессуары</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <div class="filter__item-title">Уходовая косметика</div>
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Для одежды</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Для обуви</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Для аксессуаров</span>
          </label>
          <!--                         checkbox                         -->
        </li>
      </ul>
    </div>
    <div class="filter">
      <div class="filter__title" id="size">Размер <span class="filter__title-selected"></span></div>
      <ul class="filter__list">
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>35</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>36</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>37</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>38</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>39</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>40</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>42</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>43</span>
          </label>
          <!--                         checkbox                         -->
        </li>
      </ul>
    </div>
    <div class="filter">
      <div class="filter__title" id="sezon">Сезон<span class="filter__title-selected"></span></div>
      <ul class="filter__list">
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Осень-зима</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Весна-лето</span>
          </label>
          <!--                         checkbox                         -->
        </li>
      </ul>
    </div>
    <div class="filter">
      <div class="filter__title" id="color">Цвет <span class="filter__title-selected"></span></div>
      <ul class="filter__list">
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>черный</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>голубой</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>серый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>зеленый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>бордовый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>синий</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>оливковый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>фиолетовый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>красный</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>серебряный</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>белый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>желтый</span>
          </label>
          <!--                         checkbox                         -->
        </li>
      </ul>
    </div>
    <div class="filter">
      <div class="filter__title" id="brend">Бренд <span class="filter__title-selected"></span></div>
      <ul class="filter__list">
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Alpina</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Al.Dell'acqua</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Anacapri</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Alpina</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Al.Dell'acqua</span>
          </label>
          <!--                         checkbox                         -->
        </li>
        <li class="filter__item">
          <!--                         checkbox                         -->
          <label class="checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-fake"></span>
            <span>Anacapri</span>
          </label>
          <!--                         checkbox                         -->
        </li>
      </ul>
    </div>
    <button class="filter__button"> <span>Все фильтры</span>
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 5.71429H5.71429V10H4.28571V5.71429H0V4.28571H4.28571V0H5.71429V4.28571H10V5.71429Z" fill="white" />
      </svg>
    </button>
  </div>
  <div class="filter__tags">
  </div>
</div>