<div class="hidden-menu">
  <!--                         left-menu                         -->
  <div class="left-menu">
    <div class="menu-clother-list menu-clother-list--hidden">
      <h2 class="menu-clother-list__title catalog-menu-close">Каталог</h2>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Обувь</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Ботильоны</a></li>
          <li><a href="" class="menu-clother__link">Ботинки</a></li>
          <li><a href="" class="menu-clother__link">Кроссовки</a></li>
          <li><a href="" class="menu-clother__link">Сапоги</a></li>
          <li><a href="" class="menu-clother__link">Туфли</a></li>
          <li><a href="" class="menu-clother__link">Вся обувь</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Сумки</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Багаж</a></li>
          <li><a href="" class="menu-clother__link">Клатчи</a></li>
          <li><a href="" class="menu-clother__link">Кошельки</a></li>
          <li><a href="" class="menu-clother__link">Поясные сумки</a></li>
          <li><a href="" class="menu-clother__link">Рюкзаки</a></li>
          <li><a href="" class="menu-clother__link">Спортивные сумки</a></li>
          <li><a href="" class="menu-clother__link">Сумки</a></li>
          <li><a href="" class="menu-clother__link">Сумки для ноутбука</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Одежда</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Брюки</a></li>
          <li><a href="" class="menu-clother__link">Верхняя одежда</a></li>
          <li><a href="" class="menu-clother__link">Джемперы и свитеры</a></li>
          <li><a href="" class="menu-clother__link">Джинсы</a></li>
          <li><a href="" class="menu-clother__link">Кардиганы и кофты</a></li>
          <li><a href="" class="menu-clother__link">Платья</a></li>
          <li><a href="" class="menu-clother__link">Трикотаж</a></li>
          <li><a href="" class="menu-clother__link">Юбки</a></li>
          <li><a href="" class="menu-clother__link">Вся одежда</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Аксессуары</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Головные уборы</a></li>
          <li><a href="" class="menu-clother__link">Другие аксессуары</a></li>
          <li><a href="" class="menu-clother__link">Защитные маски</a></li>
          <li><a href="" class="menu-clother__link">Очки и оправы</a></li>
          <li><a href="" class="menu-clother__link">Ремни и подтяжки</a></li>
          <li><a href="" class="menu-clother__link">Сумки и рюкзаки</a></li>
          <li><a href="" class="menu-clother__link">Украшения</a></li>
          <li><a href="" class="menu-clother__link">Часы</a></li>
          <li><a href="" class="menu-clother__link">Все аксессуары</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Уходовая <br>косметика</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Для одежды</a></li>
          <li><a href="" class="menu-clother__link">Для обуви</a></li>
          <li><a href="" class="menu-clother__link">Для аксессуаров</a></li>
        </ul>
      </div>
    </div>
    <form class="search-form search-form--hidden">
      <input type="text" class="search-form__input" placeholder="Поиск">
      <input type="submit" class="search-form__submit" value="">
    </form>
    <div class="left-menu__close"></div>
    <div class="left-menu__logo logo"><img src="img/logo.png" alt=""></div>
    <div class="bold-menu__wrapper">
      <div class="bold-menu__gender">
        <span class="bold-menu__gender-women active">Женщинам</span>
        <span class="bold-menu__gender-men">Мужчинам</span>
      </div>
      <ul class="bold-menu women">
        <li><a href="" class="bold-menu__link catalog-menu-trigger">Каталог <span class="bold-menu__link-arrow"></span></a> </li>
        <li><a href="" class="bold-menu__link">О нас <span class="bold-menu__link-arrow"></span></a> </li>
        <li><a href="" class="bold-menu__link">Скидки <span class="bold-menu__link-arrow"></span></a> </li>
        <li><a href="" class="bold-menu__link">Новинки <span class="bold-menu__link-arrow"></span></a> </li>
        <li><a href="" class="bold-menu__link bold-menu__link--red">Акции <span class="bold-menu__link-arrow"></span></a> </li>
        <li><a href="" class="bold-menu__link">Контакты <span class="bold-menu__link-arrow"></span></a> </li>
      </ul>
    </div>
    <ul class="light-menu">
      <li><a href="" class="light-menu__link">Размерная сетка</a></li>
      <li><a href="" class="light-menu__link">Условия возврата и обмена</a></li>
      <li><a href="" class="light-menu__link">Политика конфиденциальности</a></li>
      <li><a href="" class="light-menu__link">Способы оплаты</a></li>
      <li><a href="" class="light-menu__link">Способы доставки</a></li>
      <li><a href="" class="light-menu__link">Самовывоз Красноярск</a></li>
      <li><a href="" class="light-menu__link">Партнеры</a></li>
      <li><a href="" class="light-menu__link">Юридический раздел</a></li>
      <li><a href="" class="light-menu__link">Полезная информация</a></li>
    </ul>
    <a href="#" class="left-menu__button button button--green">Связаться с нами </a>
  </div>
  <!--                         left-menu                         -->
  <!--                         right-content                         -->
  <div class="right-content">
    <!--                         search-form                         -->
    <form class="search-form">
      <input type="text" class="search-form__input" placeholder="Поиск">
      <input type="submit" class="search-form__submit" value="">
    </form>
    <!--                         search-form                         -->
    <!--                         banner                         -->
    <div class="banner">
      <button class="banner__button button">Перейти в раздел</button>
      <img src="img/banner.jpg" alt="">
    </div>
    <!--                         banner                         -->
    <!--                         menu-clother                         -->
    <div class="menu-clother-list">
      <div class="menu-clother">
        <h3 class="menu-clother__title">Обувь</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Ботильоны</a></li>
          <li><a href="" class="menu-clother__link">Ботинки</a></li>
          <li><a href="" class="menu-clother__link">Кроссовки</a></li>
          <li><a href="" class="menu-clother__link">Сапоги</a></li>
          <li><a href="" class="menu-clother__link">Туфли</a></li>
          <li><a href="" class="menu-clother__link">Вся обувь</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Сумки</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Багаж</a></li>
          <li><a href="" class="menu-clother__link">Клатчи</a></li>
          <li><a href="" class="menu-clother__link">Кошельки</a></li>
          <li><a href="" class="menu-clother__link">Поясные сумки</a></li>
          <li><a href="" class="menu-clother__link">Рюкзаки</a></li>
          <li><a href="" class="menu-clother__link">Спортивные сумки</a></li>
          <li><a href="" class="menu-clother__link">Сумки</a></li>
          <li><a href="" class="menu-clother__link">Сумки для ноутбука</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Одежда</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Брюки</a></li>
          <li><a href="" class="menu-clother__link">Верхняя одежда</a></li>
          <li><a href="" class="menu-clother__link">Джемперы и свитеры</a></li>
          <li><a href="" class="menu-clother__link">Джинсы</a></li>
          <li><a href="" class="menu-clother__link">Кардиганы и кофты</a></li>
          <li><a href="" class="menu-clother__link">Платья</a></li>
          <li><a href="" class="menu-clother__link">Трикотаж</a></li>
          <li><a href="" class="menu-clother__link">Юбки</a></li>
          <li><a href="" class="menu-clother__link">Вся одежда</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Аксессуары</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Головные уборы</a></li>
          <li><a href="" class="menu-clother__link">Другие аксессуары</a></li>
          <li><a href="" class="menu-clother__link">Защитные маски</a></li>
          <li><a href="" class="menu-clother__link">Очки и оправы</a></li>
          <li><a href="" class="menu-clother__link">Ремни и подтяжки</a></li>
          <li><a href="" class="menu-clother__link">Сумки и рюкзаки</a></li>
          <li><a href="" class="menu-clother__link">Украшения</a></li>
          <li><a href="" class="menu-clother__link">Часы</a></li>
          <li><a href="" class="menu-clother__link">Все аксессуары</a></li>
        </ul>
      </div>
      <div class="menu-clother">
        <h3 class="menu-clother__title">Уходовая <br>косметика</h3>
        <ul class="menu-clother__items">
          <li><a href="" class="menu-clother__link">Для одежды</a></li>
          <li><a href="" class="menu-clother__link">Для обуви</a></li>
          <li><a href="" class="menu-clother__link">Для аксессуаров</a></li>
        </ul>
      </div>
    </div>
    <!--                         menu-clother                         -->
    <!--                         brand-slider                         -->
    <div class="brand-slider">
      <div class="brand-slider__item">
        <img src="img/s1.png" alt="">
      </div>
      <div class="brand-slider__item">
        <img src="img/s2.png" alt="">
      </div>
      <div class="brand-slider__item">
        <img src="img/s3.png" alt="">
      </div>
      <div class="brand-slider__item">
        <img src="img/s4.png" alt="">
      </div>
      <div class="brand-slider__item">
        <img src="img/s5.png" alt="">
      </div>
      <div class="brand-slider__item">
        <img src="img/s6.png" alt="">
      </div>
      <div class="brand-slider__item">
        <img src="img/s3.png" alt="">
      </div>
    </div>
    <!--                         brand-slider                         -->
  </div>
  <!--                         right-content                         -->
</div>