<div class="product-item">
  <div class="product-item__img-wrapper ">
    <div class="product-item__img">
      <a href="product-card.html"><img src="img/products/product.jpg" alt=""></a>
    </div>
  </div>
  <div class="product-item__wrapper">
    <h3 class="product-item__title">SCHUTZ</h3>
    <div class="product-item__wrapper-2">
      <div class="product-item__column">
        <div class="product-item__column-title">женские зеленые кожаные лодочки</div>
        <table class=" product-item__table table ">
          <tr class="tr">
            <th class="th th--ask">Артикул:</th>
            <th class="th th--answer">2457448</th>
          </tr>
          <tr class="tr">
            <th class="th th--ask">Размер: </th>
            <th class="th th--answer">38</th>
          </tr>
          <tr class="tr">
            <th class="th th--ask">Цвет:</th>
            <th class="th th--answer">темно-зеленый</th>
          </tr>
        </table>
      </div>
      <div class="flex-wrapper">
        <div class="product-item__column">
          <div class="product-item__column-title">Количество</div>
          <div class="product-item__price">1</div>
        </div>
        <div class="product-item__space"></div>
        <div class="product-item__column">
          <div class="product-item__column-title">Цена</div>
          <div class="product-item__price">4 550 ₽</div>
        </div>
      </div>
    </div>
  </div>
</div>