<div class="product-item">
  <div class="product-item__img-wrapper ">
    <div class="product-item__img">
      <a href=""><img src="../img/products/product.jpg" alt=""></a>
    </div>
    <div class="product-item__column product-item__mob">
      <div class="product-item__column-title">Количество</div>
      <div class="product-item__column-counter">
        <div class="counter">
          <div class="counter__minus">-</div>
          <div class="counter__nr">1</div>
          <div class="counter__plus active">+</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-item__wrapper">
    <h3 class="product-item__title">SCHUTZ</h3>
    <div class="product-item__wrapper-2">
      <div class="product-item__column">
        <div class="product-item__column-title">женские зеленые кожаные лодочки</div>
        <table class=" product-item__table table ">
          <tr class="tr">
            <th class="th th--ask">Артикул:</th>
            <th class="th th--answer">2457448</th>
          </tr>
          <tr class="tr">
            <th class="th th--ask">Размер: </th>
            <th class="th th--answer">38</th>
          </tr>
          <tr class="tr">
            <th class="th th--ask">Цвет:</th>
            <th class="th th--answer">темно-зеленый</th>
          </tr>
        </table>
      </div>
      <div class="product-item__column product-item__desk">
        <div class="product-item__column-title">Количество</div>
        <div class="product-item__column">
          <div class="product-item__column-counter">
            <div class="counter">
              <div class="counter__minus">-</div>
              <div class="counter__nr">1</div>
              <div class="counter__plus">+</div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-item__column">
        <div class="product-item__column-title">Стоимость</div>
        <div class="product-item__price">4 550 ₽</div>
      </div>
      <div class="product-item__column">
        <div class="product-item__column-title">Стоимость со скидкой </div>
        <div class="product-item__price product-item__price--bold">2 350 ₽</div>
      </div>
      <div class="product-item__column">
        <button class="product-item__column-button button button--green">В корзину</button>
      </div>
      <div class="product-item__column">
        <div class="product-item__close"></div>
      </div>
    </div>
  </div>
</div>