<div class="promo-card">
  <div class="promo-card__img">
    <img src="img/promo1.jpg" alt="">
    <div class="promo-card__square">
      <div class="promo-card__square-span">
        <span>Осталось</span>
        <span class="promo-card__square-date">7</span>
        <span>дней</span>
      </div>
    </div>
  </div>
  <div class="promo-card__content">
    <h3 class="promo-card__date">15 октября - 22 октября</h3>
    <div class="promo-card__text">
      <p>Акция! Скидки до 80% на женское и мужское белье Triumph, Diwari, Leilieve + бесплатная доставка от 799 грн!</p>
    </div>
  </div>
</div>
<div class="promo-card">
  <div class="promo-card__img">
    <img src="img/promo2.jpg" alt="">
    <div class="promo-card__square">
      <div class="promo-card__square-span">
        <span>Осталось</span>
        <span class="promo-card__square-date">12</span>
        <span>дней</span>
      </div>
    </div>
  </div>
  <div class="promo-card__content">
    <h3 class="promo-card__date">15 октября - 22 октября</h3>
    <div class="promo-card__text">
      <p>Акция! Скидка 29% на декоративное освещение Декора!</p>
    </div>
  </div>
</div>
<div class="promo-card">
  <div class="promo-card__img">
    <img src="img/promo3.jpg" alt="">
    <div class="promo-card__square">
      <div class="promo-card__square-span">
        <span>Осталось</span>
        <span class="promo-card__square-date">12</span>
        <span>дней</span>
      </div>
    </div>
  </div>
  <div class="promo-card__content">
    <h3 class="promo-card__date">15 октября - 22 октября</h3>
    <div class="promo-card__text">
      <p>Акция! К акционным музыкальным инструментам и музыкальным аксессуарам – сертификат на онлайн-обучение в музыкальной школе в подарок!</p>
    </div>
  </div>
</div>