<div class="viewed-products">
  <!--                         page-title                         -->
  <h1 class="page-title">Товары, берущие участие в акции</h1>
  <!--                         page-title                         -->
  <div class="viewed-products__inner">
    <!--                         card                         -->
    <div class="card">
      <div class="card__wrapper">
        <div class="card__slider">
          <div class="card__slider-item active">
            <img src="img/products/schultz.jpg" alt="">
          </div>
          <div class="card__slider-item">
            <img src="img/products/schultz.jpg" alt="">
          </div>
          <div class="card__slider-item">
            <img src="img/products/schultz.jpg" alt="">
          </div>
          <div class="card__slider-item">
            <img src="img/products/schultz.jpg" alt="">
          </div>
        </div>
        <div class="card__content">
          <div class="card__content-info">
            <h3 class="card__content-title">SCHULTZ</h3>
            <a href="product-card.html" class="card__content-subtitle">Женские зеленые кожаные сапоги</a>
          </div>
          <div class="card__content-price">
            <span class="card__price">2350 ₽</span>
          </div>
          <ul class="card__info-size">
            <li class="card__size">35</li>
            <li class="card__size card__size--none">36</li>
            <li class="card__size card__size--none">37</li>
            <li class="card__size">38</li>
            <li class="card__size">39</li>
            <li class="card__size">40</li>
          </ul>
        </div>
        <div class="card__heart active">
        </div>
      </div>
    </div>
    <!--                         card                         -->
    <!--                         card                         -->
    <div class="card">
      <div class="card__wrapper">
        <div class="card__slider">
          <div class="card__slider-item active"><img src="img/products/boots.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/boots.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/boots.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/boots.jpg" alt=""></div>
        </div>
        <div class="card__content">
          <div class="card__content-info">
            <h3 class="card__content-title">SCHULTZ</h3>
            <a href="product-card.html" class="card__content-subtitle">Женские зеленые кожаные сапоги</a>
          </div>
          <div class="card__content-price">
            <span class="card__price">1700 ₽</span>
          </div>
          <ul class="card__info-size">
            <li class="card__size">35</li>
            <li class="card__size card__size--none">36</li>
            <li class="card__size card__size--none">37</li>
            <li class="card__size">38</li>
            <li class="card__size">39</li>
            <li class="card__size">40</li>
          </ul>
        </div>
        <div class="card__heart">
        </div>
      </div>
    </div>
    <!--                         card                         -->
    <!--                         card                         -->
    <div class="card">
      <div class="card__wrapper">
        <div class="card__slider">
          <div class="card__slider-item active"><img src="img/products/red-boot.jpg" alt=""></div>
          <div class="card__slider-item "><img src="img/products/red-boot.jpg" alt=""></div>
          <div class="card__slider-item "><img src="img/products/red-boot.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/red-boot.jpg" alt=""></div>
        </div>
        <div class="card__content">
          <div class="card__content-info">
            <h3 class="card__content-title">SCHULTZ</h3>
            <a href="product-card.html" class="card__content-subtitle">Женские зеленые кожаные сапоги</a>
          </div>
          <div class="card__content-price">
            <span class="card__price card__price--red">10550 ₽</span>
            <span class="card__price card__price--underline">12000 ₽</span>
          </div>
          <ul class="card__info-size">
            <li class="card__size">35</li>
            <li class="card__size card__size--none">36</li>
            <li class="card__size card__size--none">37</li>
            <li class="card__size">38</li>
            <li class="card__size">39</li>
            <li class="card__size">40</li>
          </ul>
        </div>
        <div class="card__heart">
        </div>
        <div class="card__corner card__corner--sale">sale</div>
      </div>
    </div>
    <!--                         card                         -->
    <!--                         card                         -->
    <div class="card">
      <div class="card__wrapper">
        <div class="card__slider">
          <div class="card__slider-item active"><img src="img/products/shoes.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/shoes.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/shoes.jpg" alt=""></div>
          <div class="card__slider-item"><img src="img/products/shoes.jpg" alt=""></div>
        </div>
        <div class="card__content">
          <div class="card__content-info">
            <h3 class="card__content-title">SCHULTZ</h3>
            <a href="product-card.html" class="card__content-subtitle">Женские зеленые кожаные сапоги</a>
          </div>
          <div class="card__content-price">
            <span class="card__price">2900 ₽</span>
          </div>
          <ul class="card__info-size">
            <li class="card__size">35</li>
            <li class="card__size card__size--none">36</li>
            <li class="card__size card__size--none">37</li>
            <li class="card__size">38</li>
            <li class="card__size">39</li>
            <li class="card__size">40</li>
          </ul>
        </div>
        <div class="card__heart">
        </div>
      </div>
    </div>
    <!--                         card                         --> 
  </div>
</div> 